.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 16px;
    background-color: #b52e31;
    box-shadow: 0 0 5px grey;
}

.navbar > .home {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.navbar > .cart {
    color: white;
    font-weight: bold;
    text-decoration: none;
}